/* Reset Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid red;
	}

/* Body Styles */
  body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #150b17;
}

/* Header Styles */
header {
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #000000;
	color: #fff;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}



nav ul {
	display: flex;
	list-style: none;

}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fefefe;
	text-decoration: none;
}

nav ul li.dropdown ul {
	display: none;
	position: absolute;
	background-color: #444;
}

nav ul li.dropdown:hover ul {
	display: block;
	text-align: left;
}

nav ul li.dropdown ul li {
	display: block;
}



/* Main Styles */

#test {
	display: grid;
	background-color: #00902b;
	border: 1px solid red;
	color: #ffff00;
}

.box, .box2, img {
	margin: 5px;
	margin-right: 5px;
	max-width: 500px;
	max-height: 500px;
	background-color: #333;
	border: 1px solid #444;
	color: #fff;
	display: grid;
	grid-template-columns: 600px;
	gap: 20px;
	grid-auto-rows: minmax(100px, auto);
}

/* .2by2 {
  margin: 20px auto;
  width:400px;
  height:400px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 20em 20em;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
} */

/* Footer Styles */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.footer-links {
	list-style: none;
	display: flex;
}

.footer-links li {
	margin: 0 10px;
}

.footer-links li a {
	color: #ffffff;
	text-decoration: none;
}

.banner {
	width: 1199px;
	height: 338px;
}
