/* Reset Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body Styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

/* Body Styles for dark theme */
/* body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #222;
	color: #fff;
}

.dark-theme header {
	background-color: #333;
}

.dark-theme nav ul li a {
	color: #fff;
}

.dark-theme nav ul li.dropdown ul {
	background-color: #333;
}

.dark-theme .search-bar input[type="text"]::placeholder {
	color: #c4c4c4;
} */

/* Header Styles */
header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #333;
	color: #fff;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li.dropdown ul {
	display: none;
	position: absolute;
	background-color: #333;
}

nav ul li.dropdown:hover ul {
	display: block;
}

nav ul li.dropdown ul li {
	display: block;
}

.search-bar {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.search-bar input [type="text"]

/* Footer Styles */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.footer-links {
	list-style: none;
	display: flex;
}

.footer-links li {
	margin: 0 10px;
}

.footer-links li a {
	color: #070606;
	text-decoration: none;
}
